{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}

<div class="col-3">

    <div class="card mb-4 box-shadow">
        {% for object in object_list %}
        {% if user.is_staff or user.is_superuser or user.is_active %}
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- {{object.description}}</li>
            </ul>


        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}