{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="container">
        {% if  user.is_superuser or user.is_active and perms.catalog.add_product  %}
            <div class="col-12 mb-5">
                <a class="btn btn-outline-primary" href="{% url 'catalog:create_product'%}">Добавить продукт</a>
            </div>
        {% endif%}
        <div class="row text-center">
            {% for object in object_list %}

                {% include 'catalog/includes/inc_product.html' with object=object %}

            {% endfor %}
        </div>
        {% endblock %}
    </div>


