{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="container">
        <div class="col-12 mb-5">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:create_product'%}">Добавить продукт </a>
        </div>
        {% endif %}
        <div class="row text-center">
            {% for object in object_list %}
            {% include 'catalog/includes/inc_product.html' with object=object %}
            {% endfor %}
        </div>
        {% endblock %}
    </div>