{% extends 'catalog/base.html' %}
{% block inc_title %}
{% include 'catalog/include/inc_title.html' %}
{% endblock %}
{% load my_tags %}
{% block container %}
    <div class="row text-center">
        {% for product in products %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                           <img src="{% my_custom_tag product.photo.url %}" style="width: 100px; height: 100px">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ product.unit_price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ product.message }}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                            <a href="/products/{{ product.pk }}/" role="button">Купить</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
