{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block inc_title %}
{% include 'catalog/include/inc_title.html'%}
{% endblock %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="card mt-5">
          <div class="card-body">
            <img src="{% my_custom_tag product.fields.photo %}" style="width: 100px; height: 100px">
            <h5 class="card-title">Название товара: {{ product.fields.name }}</h5>
            <p class="card-text">Стоимость товара: {{ product.fields.unit_price }}</p>
            <p class="card-text">Описание товара: {{ product.fields.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}