{% extends 'catalog/base.html' %}

{% block inc_title %}
{% include 'catalog/include/inc_title.html'%}
{% endblock %}

{% block container %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Название товара: корпус</h5>
            <p class="card-text">Стоимость товара: 1000 рублей</p>
            <p class="card-text">Описание товара: Тихий</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}