{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}

<div class="col-3">

    <div class="card mb-4 box-shadow">
        {% for object in object_list %}
        {% if user.is_staff or user.is_superuser or user.is_active %}
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Цена: {{object.price}} руб</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{object.title}}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- {{object.description}}</li>
                <li>- Категория: {{object.category}}</li>
                <li>- Дата создания:{{object.date_of_creation}}</li>
                <li>- Дата последнего изменения: {{object.last_modified_date}}</li>
                 <li>- Продавец: {{object.owner|default:"не указан"}}</li>
                <img class="card-img-top"
                     src="{{ object.image|mymedia }}"
                     alt="Card image cap">
            </ul>
            {% if perms.catalog.view_product %}
            <a href="{% url 'catalog:view_product' object.pk %}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">view</a>
            {% endif %}


            {% if object.owner == request.user or user.is_superuser or user.is_staff %}
                <a href="{% url 'catalog:update_product' object.pk %}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">edit</a>
            {% endif %}

            {% if perms.catalog.delete_product %}
                <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">delete</a>
            {% endif %}

             <a href="{% url 'catalog:version_active' object.pk %}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">version_active</a>



        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}


<!--            {% if perms.catalog.view_version %}-->
<!-- {% endif %}-->

<!--{% if perms.catalog.change_product %}-->
<!-- {% endif %}-->